In [1]:
import pandas as pd
from random import randint

In [2]:
filename = "customers.csv"
df = pd.read_csv(filename)

df.head()

,CustomerID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,030-0076545
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constitución 2222,México D.F.,NaN,5021,Mexico,(5) 555-4729,(5) 555-3745
2,ANTON,Antonio Moreno Taquería,Antonio Moreno,Owner,Mataderos 2312,México D.F.,NaN,5023,Mexico,(5) 555-3932,NaN
3,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,NaN,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
4,BERGS,Berglunds snabbköp,Christina Berglund,Order Administrator,Berguvsvägen 8,Luleå,NaN,S-958 22,Sweden,0921-12 34 65,0921-12 34 67

In [3]:
location = "Country"
amount = 100

In [4]:
subject = filename[:-4]
locations = [loc for loc in df[location]]

initials = ["tampil ", "tampilkan ", "cari ", "carikan ", "liat ", "tunjuk ", "tunjukkan ", "", "", ""]
datas = ["data ", ""]
froms = ["yg dari ", "yg dr ", "yang dari ", "dari ", "yg tinggal di ", "yang tinggal di ", "dari ", "dr "]
equals = ["adalah ", ""]

In [5]:
texts = []

for i in range(amount):
    texts.append(initials[randint(0, len(initials)-1)] + datas[randint(0, len(datas)-1)] + subject + " " + froms[randint(0, len(froms)-1)] + locations[randint(0, len(locations)-1)])

In [6]:
f = open("p.txt", "x")

In [9]:
f = open("p.txt", "w")

for text in texts:
    f.write(text + "\n")